
body{

        font-family:'Lato',sans-serif;
       font-family: 'Open Sans',sans-serif;
 margin: 0;
 padding: 0;
      
      
}
/* nav related style */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 180px;
}

.nav-title{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}
.r{
    color:#FD6E0A ;
}
.section-item{
    color: #181818;
    text-align: center;
    font-weight: 700;
    font-size: 35px;

}
.section-desc{
   color: #757575;
   text-align: center;
   font-size: 18px;

}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
     text-decoration: none;
     color: #474747;
}
.btn{
border-radius: 5px;
background: #FD6E0A;
border: none;
color: azure;
font-size: 20px;
padding: 12px 30px;

}
.btn2{
    border: #FD6E0A solid 2px ;
    background-color: #fffdfd00;
    color: #FD6E0A;
}
/* nav hedar style */

.header{
    background-color:#FFF8F3 ;
    background-image: url('../images/header_bg.png'),url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right,top left;
}
.banner{
    padding: 50px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.banner .profile{
    width: 500px;
   

}
.banner-greeting{
    font-size: 45px;
    color: #474747;
    margin-bottom: 0;


}
.banner-title{
    font-size:85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 0;

}
.desc{

}
.banner-con{
    max-width: 800px;
}

/* main section style */
main{
    max-width: 1140px;
    margin: 0 auto;
    
}
/* abaout section style  */
.about{
   padding: 130px;
   margin: 130px 0;
   background: #FFF8F3;
   border-radius: 10px;
   

}
.about-info-container{
    display: flex;
   justify-content: space-around;
}
.about-info{
    text-align: center;
}
#what-i-do{
    padding: 0 150px;
}
.skills{
    display:flex;

}
.skill-item{
    padding: 50px;
    background-color:#ffffff;
    margin: 10px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    border-radius: 10px;
 
}
.skill-decs{
    color: #757575;
   font-size: 18px;
   
}
.rezumi{
    display: flex;
}
.rezumi-iteme{
    gap: 20px;
    margin: 30px;
    padding: 30px;
}
.rezumi-name{
    margin-left: 60px;
    font-size: 30px;
}
hr{
    background-color: #757575;
    font-size: 8px;  
}
.institute{
    color: #757575;
}
.downlod-cv{
   text-align: center;
   margin-bottom: 40px;
}
footer{
    display: flex;
    background-color: #FFF8F3;
    padding: 130px 200px;
    justify-content: space-around;
   
    
}
.socal-link img{
    margin: 10px;
}
.contract > input , textarea{
    display: block;
  /* text-align: left; */
  margin-bottom: 20px;
  padding: 15px 35px;
  border: none;
  border-radius: 5px;

}
footer .fotar-colm{
    width: 50%;
}
.contract textarea{
    min-width: 300px;
    width: 300px;
    height: 80px;
}
.fotar-colm{
    margin-left: 10%;
}
@media screen  and (max-width:576px){
     .skills, .rezumi, .about-info-container, .banner{
        flex-direction: column;
     }
     #what-i-do{
        padding: 10px;
     }
     .banner .profile{
        width: 100%;
       
    
    }
    .banner-title{
        font-size: 50px;
    }
    .btn , .btn2{
        
        font-size: 15px;
        padding: 8px 20px;
        
        }
    nav{
   
        margin: 0 10px 0 100px;
    }
    
     
    
     footer{
        flex-direction: column;
        padding: 50px;
       
     }
     .fotar-colm{
        margin-left: 10px;
       
     }
     footer .fotar-colm{
        width: 100%;
    }
    .about{
        padding: 20px;
    }
    .header ul{
        flex-direction: column;
        gap: 10px;
        margin-right: 25px;
    }
}
@media screen  and (min-width:576px)  and (max-width:922px){
     .skills , .about-info-container{
      display: grid;
      grid-template-columns:repeat(2, 1fr);
     }
     .banner .profile{
        width: 100%;
       
    
        
    } 
    .btn , .btn2{
        
        font-size: 18px;
        padding: 10px 20px;
        
        }
    nav{
   
        margin: 0 100px;
    }
    .banner{
        flex-direction: column;
     }
     #what-i-do, .section-desc{
        padding: 10px;
     }
     .skill-decs{
        font-size: 15px;
     }
     footer{
        flex-direction: column;
        padding: 50px;
       
     }
     .fotar-colm{
        margin-left: 10px;
       
     } 
     footer .fotar-colm{
        width: 100%;
    }
    .about{
        padding: 20px;
    }
}